.logo-div
{
    float:left;
    width:70px;
    text-align: center
}
.imglogotext
{
    height: 10px;
    width:50px;
}
.imglogo
{
    height: 70px;
    width: 70px;
    float: left;
}

    .imglogo:hover
    {
        -webkit-animation-name: spin;
        -webkit-animation-duration: 4000ms;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: spin;
        -moz-animation-duration: 4000ms;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -ms-animation-name: spin;
        -ms-animation-duration: 4000ms;
        -ms-animation-iteration-count: infinite;
        -ms-animation-timing-function: linear;


        animation-name: spin;
        animation-duration: 4000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

.alogo
{
    width: 0;
    height: 0;
    padding: 0;
}

@-ms-keyframes spin
{
    from
    {
        -ms-transform: rotate(0deg);
    }

    to
    {
        -ms-transform: rotate(360deg);
    }
}

@-moz-keyframes spin
{
    from
    {
        -moz-transform: rotate(0deg);
    }

    to
    {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin
{
    from
    {
        -webkit-transform: rotate(0deg);
    }

    to
    {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin
{
    from
    {
        transform: rotate(0deg);
    }

    to
    {
        transform: rotate(360deg);
    }
}
video#bgVideo {
  position: fixed; // Play the video in full screen mode
  top: 0px; 
  left: 0px; 
  min-width: 100%; 
  min-height: 100%;
  z-index: -2; // Put the video behind all other elements
}
#bgLogo{
    background-image: url("/Images/logo.png");
    /* background-color: #1D1D1D; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: fixed; // Play the video in full screen mode
    top: 0px; 
    left: 0px; 
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
    -webkit-filter:blur(2px);
}
body>header{
    height: 110px;
    background-color: rgba(240, 248, 255, 0.5);
}