.loginForm input[type="submit"]{
    border: black 1px solid;
    border-radius: 4px 4px 4px 4px;
    background-color: #63A75E;
}

#notLoggedIn{
    background-color: red;
    /*height: 24px;*/
    border-radius: 7px 7px 7px 7px;
    padding-left: 9px;
    margin-bottom: 6px;
    margin-top: 4px;
}

