@{
    ViewBag.Title = "Index";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>View all database-stored portfolios. Click on the link to see the persons Portfolio.</p>
        </div>
    </section>
}
<h1>Portfolio List</h1>

<ul>
    @foreach (var user in Model)
    {
    <li class="portfolios">
        <a href="/Home/Portfolie?id=@user.ID">
            @if(user.userPicture!=null){<img src="@user.userPicture" alt="Alternate Text" />}Portfolio of @user.userFullName
        </a>
    </li>
    }
</ul>
