@{
    ViewBag.Title = "Login";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/loginStyle.css")" rel="stylesheet" type="text/css" />
<script>
    function Validate(form) {
        if (form["userName"].value == null || form["userName"].value == "" || form["password"].value == null || form["password"].value == "") {
            alert("you cannot have an empty username or password. Try again... -_-*")
            return false;
        }
        return true;
    }
</script>
<h2>Login</h2>
<div id="notLoggedIn">@ViewBag.Message</div>
<section class="loginForm">
    <form  method="post" onsubmit="return Validate(this)">
        @Html.AntiForgeryToken()
        <input type="text" name="userName" value="" placeholder="Enter your username" />
        <input type="password" name="password" value="" placeholder="Enter your password" />
        <br />
        <input type="submit" value="Login" />
    </form>
</section>